@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@font-face {
    font-family:'Consolas';
    src:url(../font/consolas/consola.ttf) format('truetype');
}
@font-face {
    font-family:'Consolas bold';
    src:url(../font/consolas/consolab.ttf) format('truetype');
}
@font-face {
    font-family:'Courier New';
    src:url(../font/courier_new/courbd.ttf) format('truetype');
}

/* 고운 돋움 400
font-family: "Gowun Dodum", sans-serif; */
/* 고운 바탕 400/700
font-family: "Gowun Batang", serif; */
/* noto sans 100-900
font-family: "Noto Sans KR", sans-serif; */

*{margin:0;padding:0;border:0;list-style:none;box-sizing:border-box;}
html,body,select,button{font-family: "Gowun Dodum", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    color:#ffffff;background-color:#101010; scroll-behavior:smooth;}
*::selection{background-color:#1d4161;color:#ffffff;}
h1,h2,h3,h4{font-size:16px;font-weight:400;}
a{display:block;text-decoration:none;color:inherit;}
img,svg,video{border:0;line-height:0;vertical-align:bottom;}


/* header */
header{width:120px;
    height:100vh;
    border-right:1px solid #292929;
    background-color:#000000;
    position:fixed;
    top:0;left:0;}
.logo{width:74px;
    margin:26px auto;
    font-family:'Courier New';
    font-size:60px;
    line-height:50px;
    overflow-wrap:break-word;}
nav{width:100%;
    display:flex;
    justify-content:right;
    position:absolute;
    top:50%;left:0;
    transform:translate(0,-50%);}
nav ul{width:90%;
    text-align:center;
    font-family:'Consolas bold';
    font-size:26px;}
nav li{height:50px;
    margin-bottom:30px;
    line-height:50px;
    cursor:pointer;}
.nav_on{background-color:#292929;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;}
.nav_on span{border-bottom:2px solid #da70d6;
    color:#da70d6;}

.wrap{width:calc(100% - 120px);
    margin-left:120px;}
section{height:100vh;}
/*---------- section:is ----------*/
.is{height:calc(100vh - 30px);}
.display{width:70%;
    height:60px;
    line-height:60px;
    margin:30px auto;
    border-radius:8px;
    background-color:#2b2b2b;
    font-size:20px;
    text-align:center;}
.display img{width:20px;
    margin-right:20px;
    vertical-align:baseline;}
/* article 공통 */
.is article{float:left;}
.is article:nth-of-type(2n+1){width:55%;}
.is article:nth-of-type(2n){width:45%}
.is article:nth-of-type(n+3){transform:translateY(-1px);}
.tab_head{width:180px;
    height:50px;
    border-top:1px solid #2b2b2b;
    border-left:1px solid #2b2b2b;
    border-right:1px solid #2b2b2b;
    padding-left:16px;
    line-height:50px;
    font-family:'Consolas bold';
    background-color:#151515;
    transform:translateY(1px);}
.tab_on .tab_head{border-top:1px solid #0078d4;
    background-color:#1f1f1f;}
.tab_head span{color:#519aba;
    margin-right:12px;}
.tab_head img{width:10px;
    margin:20px 16px;
    float:right;}
.tab_body{width:100%;
    background-color: #1f1f1f;
    border:1px solid #2b2b2b;
    padding:20px 36px;}
.tab_on .tab_body{z-index:1;}
.is article:nth-of-type(2n+1) .tab_body{border-left:0; border-right:0;}
.is article:nth-of-type(-n+2) .tab_body{height:calc((100vh - 270px)*0.4);}
.is article:nth-of-type(n+3) .tab_body{height:calc((100vh - 270px)*0.6);}
/* a1:certificate */
.certificate li{margin-bottom:16px;
    color:#dddddd;
    text-align:right;}
.certificate li:last-child{margin-bottom:0;}
.certificate li span{margin-left:30px;}
.certificate li .certi_name{
    margin-left:0;
    float:left;
}
.certificate li .certi_organ{font-size:14px;
    color:#999999;}
/* a2:tool */
.is article:nth-of-type(2){position:relative;
    height:fit-content;}
.is article:nth-of-type(2) .tab_head{cursor:pointer;
    position:absolute; top:0x; left:0;
    z-index:2;}
.is article:nth-of-type(2) .tab_body{
    position:absolute; top:50px; left:0;}
.tool ul{column-count:2;}
.tool li{margin-bottom:16px;}
.tool ul img{height:20px;
    margin-right:10px;}
/* a2:likes */
.likes .tab_head{position:relative; z-index:2;
    margin-left:180px;}
.likes ul{display:flex;
    flex-wrap:wrap;}
.likes li{width:50%;
    display:flex;
    align-items:center;}
.likes li:nth-child(-n+2){margin-bottom:50px;}
.likes ul img{width:60px;
    margin-right:14px;}
.likes ul span span{display:block;
    font-size:14px;
    color:#b9b9b9;}
/* a3:about */
.about{transform:translateY(-1px);}
.about .tab_head{transform:translateY(2px);}
.about .tab_head span{margin-right:8px;
    color:#d77932;
    letter-spacing:-1px;}
.about .tab_body{display:flex;
    padding-left:20px;}
.profile{width:30%; height:100%;}
.profile span{display:block;
    text-align:center;
    transform:translateY(10px);}
.profile div{height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;}
.profile img{width:140%;
    mix-blend-mode:lighten;}
.persona{width:70%; height:100%;}
.dots{text-align:right;
    margin-bottom:10px;}
.dots span{display:inline-block;
    width:10px; height:10px;
    margin-left:6px;
    border-radius:100%;
    background-color:#393939;
    cursor:pointer;}
.dots .bluelight{background-color:#0078d4;}
.qna{height:calc(100% - 34px);
    overflow:auto;
    scrollbar-width:none;}
.qna::-webkit-scrollbar{display: none;}/*safari*/
.qna::after{display:block;content:"";clear:both;}
.qna div{width:64%; max-width:415px;
    margin-bottom:40px;
    border-radius:8px;
    padding:10px 20px;
    background-color:#393939;
    font-family: "Noto Sans KR", sans-serif;
    font-weight:200;
    line-height:24px;}
.qst{float:right;}
.ans{margin-left:20px;
    float:left;
    position:relative;}
.ans::before{display:block;content:"";
    width:0; height:0;
    border-top:24px solid transparent;
    border-right:24px solid #393939;
    position:absolute;
    bottom:16px; left:-20px;}
.ans span{position:relative;}
.ans span::before{display:block;content:"";
    width:100%;height:18px;
    background-color:#1aa3ff;
    filter:blur(4px);
    mix-blend-mode:soft-light;
    position:absolute;top:50%;left:0;
    transform:translateY(-50%);}
/* a4:experience */
table{width:100%;
    border-spacing:1px 16px;
    color:#dddddd;}
td{vertical-align:text-top;}
td:nth-child(1){width:57px;
    font-size:14px;}
td:nth-child(2){position:relative;}
td:nth-child(3){width:30px;
    text-align:right;}
td:nth-child(4){width:160px;
    text-align:right;}
.open{display:inline-block;
    width:6px; height:6px;
    margin-left:10px;
    margin-bottom:5px;
    border-right:1px solid #dddddd;
    border-bottom:1px solid #dddddd;
    rotate: 45deg;
    cursor:pointer;}
.open:hover{border-width:2px;
    padding:4px;}
.open:hover~.more{display:block;}
.more{position:absolute; top:110%; left:0;
    border-radius:8px;
    padding:10px 20px;
    background-color:#999999;
    /* font-size:14px; */
    color:#000000;
display:none;
z-index:1;}
tr:nth-child(1) .more{width:184px;}
tr:nth-child(3) .more{width:306px;}
.detail{display:block;
    font-size:14px;
    color:#999999;}
/* .hash */
.hash{clear:both;
    line-height:40px;
    text-align:center;}
.hash span{margin-right:20px;}
.hash span:nth-child(2){color:#ffd10c;}
.hash span:nth-child(3){color:#6a9955;}
.hash span:nth-child(4){color:#169fff;}
.hash span:nth-child(5){color:#da70d6;}


/*---------- section:work ----------*/
.work{position:relative;}
.worklist{width:120px;
    margin:0 60px;
    position:absolute;
    top:50%; left:0;
    transform:translate(0,-50%);
z-index:2;}
.worklist li{height:70px;
    margin-bottom:40px;
    padding:10px;
    font-family:'Consolas bold';
    vertical-align:bottom;
    cursor:pointer;}
.worklist li:last-child{margin-bottom:0;}
.worklist li:nth-child(1){background:url("../img/work/nasa/nasa_thumb.png") no-repeat;
    background-size:cover;}
.worklist li:nth-child(2){background:url("../img/work/stanley/stanley_thumb.png") no-repeat;
    background-size:cover;}
.worklist li:nth-child(3){background:url("../img/work/nasa/nasa_thumb.png") no-repeat;
    background-size:cover;}
.workli_on{border:1px solid #da70d6;}
/* article 공통 */
.work article{height:100%;
    padding-bottom:140px;
    display:flex;
    justify-content:center;
    align-items:end;
    gap:60px;
    position:absolute;}
.work .work_on{z-index:1;}
.rwd{height:fit-content;
    margin-left:240px;
    position:relative;}
.rwd div{border-width:20px 5px;
    border-radius:10px;
    border-style:solid;
    border-color:#000000;
    background-color:black;
    overflow-x:scroll;
    scrollbar-width:none;}
.rwd div::-webkit-scrollbar{display: none;}/*safari*/
.pc{width:700px; height:480px;
    border-width:6px;}
.tablet{width:240px; height:320px; left:-86px;}
.mobile{width:120px; height:214px; left:174px;}
.rwd img{width:100%;}
.tablet, .mobile{position:absolute;
    bottom:-60px;}
.description{width:30%;}
.description h3{margin-bottom:10px;
    font-family: "Gowun Batang", serif;
    font-size:32px;}
.description h3 span{font-weight:700;}
.description>p{margin-bottom:30px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight:300;
    line-height:24px;
    color:#dddddd;}
.btn{width:160px;
    margin-bottom:60px;
    border-radius:50px;
    background-color:#292929;
    overflow:hidden;}
.btn a{height:100%;
    padding:13px 23px;
    font-size:14px;
    color:#dddddd;
    display:flex;
    align-items:center;
    gap:10px;}
.btn img{width:10px; height:10px;}
.siteinfo{margin-left:20px;
    display:flex;
    gap:40px;}
.siteinfo li{width:134px;}
.siteinfo h4{margin-bottom:10px;
    padding-bottom:10px;
    border-bottom:1px solid #292929;}
.siteinfo p{font-size:14px;
    color:#dddddd;}
.siteinfo .color li{width:30px; height:30px;
    border:1px solid #292929;
    border-radius:100%;}
.siteinfo .color ul{display:flex; gap:10px;}
/* nasa */
.nasa{background:linear-gradient(to top, rgba(16,16,16,1) 40%, rgba(16,16,16,0) 90%),
        linear-gradient(to right, rgba(16,16,16,1) 10%, rgba(16,16,16,0) 40%),
        url("../img/work/nasa/nasa_thumb.png");
    background-repeat:no-repeat;
    background-size:cover;}
.nasa .color li:nth-child(1){background-color:#db362d;}
.nasa .color li:nth-child(2){background-color:#ffffff;}
.nasa .color li:nth-child(3){background-color:#000000;}
/* stanley */
.stanley{background:linear-gradient(to top, rgba(16,16,16,1) 40%, rgba(16,16,16,0) 90%),
        linear-gradient(to right, rgba(16,16,16,1) 10%, rgba(16,16,16,0) 40%),
        url("../img/work/stanley/stanley_bg.png");
    background-repeat:no-repeat;
    background-size:cover;}
.stanley .color li:nth-child(1){background-color:#263935;}
.stanley .color li:nth-child(2){background-color:#85CDE3;}
.stanley .color li:nth-child(3){background-color:#ffffff;}
/* lg */
.lg{background-color:rgb(136, 44, 59);}


/*---------- section:ing ----------*/
