@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@font-face {
    font-family:'Consolas';
    src:url(../font/consolas/consola.ttf) format('truetype');
}
@font-face {
    font-family:'Consolas bold';
    src:url(../font/consolas/consolab.ttf) format('truetype');
}
@font-face {
    font-family:'Courier New';
    src:url(../font/courier_new/courbd.ttf) format('truetype');
}

/* 고운 돋움 400
font-family: "Gowun Dodum", sans-serif; */
/* 고운 바탕 400/700
font-family: "Gowun Batang", serif; */
/* noto sans 100-900
font-family: "Noto Sans KR", sans-serif; */

*{margin:0;padding:0;border:0;list-style:none;box-sizing:border-box;}
html,body,select,button{font-family: "Gowun Dodum", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    color:#ffffff;background-color:#101010; scroll-behavior:smooth;}
::selection{background-color:#1d4161;color:#ffffff;}
::-webkit-scrollbar{width:10px; height:10px;}
::-webkit-scrollbar-track{background-color: #1f1f1f;
    box-shadow:inset 1px 1px 1px #000000;}
::-webkit-scrollbar-thumb{background-color:#343434;}
::-webkit-scrollbar-thumb:hover{background-color:#434343;}
::-webkit-resizer{background-color:#101010;}
h1,h2,h3,h4{font-size:16px;font-weight:400;}
a{display:block;text-decoration:none;color:inherit;}


/* header */
header{width:120px;
    height:100vh;
    border-right:1px solid #292929;
    background-color:#000000;
    position:fixed;
    top:0;left:0;}
.logo{width:74px;
    margin:26px auto;
    font-family:'Courier New';
    font-size:60px;
    line-height:50px;
    overflow-wrap:break-word;}
nav{width:100%;
    display:flex;
    justify-content:right;
    position:absolute;
    top:50%;left:0;
    transform:translate(0,-50%);}
nav ul{width:90%;
    text-align:center;
    font-family:'Consolas bold';
    font-size:26px;}
nav li{height:50px;
    margin-bottom:30px;
    line-height:50px;
    cursor:pointer;}
.nav_on{background-color:#292929;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;}
.nav_on span{border-bottom:2px solid #da70d6;
    color:#da70d6;}

.wrap{width:calc(100% - 120px);
    min-width:1280px;
    max-width:2300px;
    margin-left:120px;}
section{height:100vh; overflow:hidden;}
/*---------- section:is ----------*/
/* display */
.display{width:70%;
    height:45px;
    line-height:45px;
    margin:25px auto;
    border-radius:8px;
    background-color:#2b2b2b;
    font-size:18px;
    text-align:center;}
.display img{width:18px;
    margin-right:20px;}
/* article 공통 */
.is article{float:left; position:relative;}
.is article:nth-of-type(1){width:55%;
    height:calc((100% - 135px)*0.4);}
.is article:nth-of-type(2){width:45%;
    height:calc((100% - 135px)*0.4);}
.is article:nth-of-type(3){width:55%;
    height:calc((100% - 135px)*0.6);}
.is article:nth-of-type(4){width:45%;
    height:calc((100% - 135px)*0.6);}
.is article>div{height:100%;}
.tab_head{width:180px;
    height:50px;
    border:1px solid #2b2b2b;
    border-bottom:0;
    padding-left:16px;
    line-height:50px;
    font-family:'Consolas bold';
    background-color:#151515;
    cursor:pointer;
    position:absolute; top:0;
    z-index:2;}
.tab_head span{color:#519aba;
    margin-right:12px;}
.tab_head img{width:20px;
    margin:15px 10px;
    border-radius:5px;
    padding:5px;
    float:right;}
.tab_head img:hover{background-color:#323232;}
.tab_body{width:100%; height:calc(100% - 50px);
    background-color: #1f1f1f;
    border:1px solid #2b2b2b;
    padding:20px 36px;
    position:absolute; top:50px; left:0;}
.is article:nth-of-type(2n+1) .tab_head{border-left:0;}
.is article:nth-of-type(2n+1) .tab_body{border-left:0; border-right:0;}
.tab_on .tab_head{border-top:1px solid #0078d4;
    background-color:#1f1f1f;
    top:1px;}
.tab_on .tab_body{z-index:1;}
/* a1:certificate */
.certificate .tab_body{padding:4px 6px;
    overflow:auto;}
table{width:100%;
    border-spacing:30px 16px;
    color:#dddddd;}
td{vertical-align:text-top;
    text-align:right;}
.certificate td:nth-child(1){min-width:190px;
    text-align:left;}
.certificate td:nth-child(2){min-width:104px;
    font-size:14px;
    color:#999999;}
.certificate td:nth-child(3){min-width:32px; width:60px;}
.certificate td:nth-child(4){width:60px;}
/* a2:tool */
.is ul{column-count:2;
    -webkit-column-count:2;
    -moz-column-count:2;}
.tool li{margin-bottom:16px;
    border:1px solid #292929;
    border-radius:8px;
    line-height:24px;}
.tool li:nth-child(1){background:linear-gradient(to right, #292929 90%, transparent 90%);}
.tool li:nth-child(2){background:linear-gradient(to right, #292929 90%, transparent 90%);}
.tool li:nth-child(3){background:linear-gradient(to right, #292929 70%, transparent 70%);}
.tool li:nth-child(4){background:linear-gradient(to right, #292929 80%, transparent 80%);}
.tool li:nth-child(5){background:linear-gradient(to right, #292929 80%, transparent 80%);}
.tool li:nth-child(6){background:linear-gradient(to right, #292929 70%, transparent 70%);}
.tool li:nth-child(7){background:linear-gradient(to right, #292929 70%, transparent 70%);}
.tool li:nth-child(8){background:linear-gradient(to right, #292929 80%, transparent 80%);}
.tool li img{height:22px;
    margin-right:10px;
    vertical-align:text-bottom;}
/* a3:about */
.about .tab_head span{margin-right:8px;
    color:#d77932;
    letter-spacing:-1px;}
.about .tab_body{display:flex;}
.profile{width:30%; height:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;}
.profile span{width:100%;
    display:block;
    text-align:center;}
.profile img{width:100%; height:calc(100% - 25px);
    max-height:314px;
    object-fit:cover;
    object-position:center;
    mix-blend-mode:lighten;}
.persona{width:70%; height:100%;}
.dots{text-align:right;
    margin-bottom:10px;}
.dots span{display:inline-block;
    width:10px; height:10px;
    margin-left:6px;
    border-radius:100%;
    background-color:#393939;
    cursor:pointer;}
.dots .bluelight{background-color:#0078d4;}
.qna{height:calc(100% - 34px);
    overflow:auto;
    scrollbar-width:none;}
.qna::-webkit-scrollbar{display: none;}/*safari*/
.qna div{width:64%; max-width:415px;
    margin-bottom:40px;
    border-radius:8px;
    padding:10px 20px;
    background-color:#393939;
    font-family:"Noto Sans KR", sans-serif;
    font-weight:200;
    line-height:24px;}
.qst{float:right;}
.ans{min-width:380px;
    margin-left:20px;
    float:left;
    position:relative;}
.ans::before{display:block;content:"";
    width:0; height:0;
    border-top:24px solid transparent;
    border-right:24px solid #393939;
    position:absolute;
    bottom:16px; left:-20px;}
.ans span{position:relative;}
.ans span::before{display:block;content:"";
    width:100%;height:18px;
    background-color:#1aa3ff;
    filter:blur(4px);
    mix-blend-mode:soft-light;
    position:absolute;top:50%;left:0;
    transform:translateY(-50%);}
/* a3:likes */
.likes .tab_head{left:180px;
    border-left:0;}
.likes li{margin-bottom:30px;
    display:flex;
    align-items:center;}
.likes li img{width:50px;
    margin-right:14px;}
.likes li span span{display:block;
    font-size:14px;
    color:#b9b9b9;}
/* a4:experience */
.experience .tab_body{padding:4px 6px;}
.experience td:nth-child(1){min-width:28px; width:28px;
    font-size:14px;
    text-align:left;}
.experience td:nth-child(2){min-width:204px;
    position:relative;
    text-align:left;}
.experience td:nth-child(3){min-width:30px;}
.experience td:nth-child(4){width:130px;}
.open{display:inline-block;
    width:6px; height:6px;
    margin-left:10px;
    margin-bottom:5px;
    border-right:1px solid #dddddd;
    border-bottom:1px solid #dddddd;
    rotate: 45deg;}
td:nth-child(2):hover .open{border-width:2px;}
td:nth-child(2):hover .more{display:block;}
.more{position:absolute; top:50px; left:0;
    border-radius:8px;
    padding:10px 20px;
    background-color:#999999;
    font-size:16px;
    line-height:22px;
    color:#000000;
display:none;
z-index:1;}
.more span{font-size:14px;
    color:#393939;}
tr:nth-child(1) .more{width:371px;}
tr:nth-child(3) .more{width:343px;}
.detail{display:block;
    font-size:14px;
    color:#999999;}
/* .hash */
.hash{height:40px;
    clear:both;
    line-height:40px;
    text-align:center;}
.hash span{margin-right:20px;}
.hash span:nth-child(2){color:#ffd10c;}
.hash span:nth-child(3){color:#6a9955;}
.hash span:nth-child(4){color:#169fff;}
.hash span:nth-child(5){color:#da70d6;}


/*---------- section:work ----------*/
.work{position:relative;}
.worklist{margin-left:50px;
    position:absolute;
    top:152px; left:0;
z-index:2;}
.worklist li{width:120px; height:70px;
    margin-bottom:40px;
    padding:10px;
    line-height:80px;
    font-family:'Consolas bold';
    text-shadow:0 0 5px #000000;
    box-shadow:0 0 10px #494949;
    cursor:pointer;}
.worklist li:nth-child(1){background:url("../img/work/nasa/nasa_thumb.png") no-repeat;
    background-size:cover;}
.worklist li:nth-child(2){background:url("../img/work/stanley/stanley_thumb.png") no-repeat;
    background-size:cover;}
.worklist li:nth-child(3){background-color:#000000;}
.worklist .workli_on{border:1px solid #da70d6;
    color:#da70d6;
    text-shadow:none;}
/* article 공통 */
.work article{width:100%;
    height:100%;
    padding-bottom:140px;
    display:flex;
    justify-content:center;
    align-items:end;
    gap:40px;
    position:absolute;}
.work .work_on{z-index:1;}
.work_on .rwd{animation:fadeinup 1s ease-out both;
    animation-delay:0.1s;}
.work_on .description{animation:fadeinup 1s ease-out both;
    animation-delay:0.4s;}
@keyframes fadeinup{
    0%{opacity:0;
        transform:translateY(20%);}
    70%{transform:translateY(0);}
    100%{opacity:1;}
}
.rwd{height:fit-content;
    margin-left:130px;
    position:relative;}
.rwd div{border-radius:10px;
    border-style:solid;
    border-color:#000000;
    background-color:black;
    overflow:hidden;}
.pc{width:700px; height:480px;
    border-width:6px;}
.tablet{width:240px; height:320px; left:-86px;
    border-width:20px 5px;}
.mobile{width:120px; height:214px; left:174px;
    border-width:20px 5px;}
.rwd img{width:100%;
    transition:1.6s;}
.tablet, .mobile{position:absolute;
    bottom:-60px;}
.description{width:420px;
/* background-color:olive; */
}
.description h3{font-family: "Gowun Batang", serif;
    font-size:32px;}
.description h3 span{font-weight:700;}
.description>p{margin-bottom:20px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight:300;
    line-height:24px;
    color:#dddddd;}
.btn{width:160px;
    margin-bottom:50px;
    border-radius:50px;
    background-color:#292929;
    overflow:hidden;}
.btn:hover{background-color:#0078d4;
    box-shadow:inset 0 0 3px #003156;}
.btn a{height:100%;
    padding:13px 23px;
    font-size:14px;
    color:#dddddd;
    display:flex;
    align-items:center;
    gap:10px;}
.btn img{width:10px; height:10px;}
.siteinfo{display:flex;
    gap:40px;
    flex-wrap:wrap;}
.siteinfo h4{margin-bottom:8px;
    padding-bottom:6px;
    border-bottom:1px solid #292929;}
.siteinfo p{font-size:14px;
    color:#dddddd;}
.visual{max-width:220px;}
.siteinfo .color li{width:30px; height:30px;
    border:1px solid #292929;
    border-radius:100%;}
.siteinfo .color ul{display:flex; gap:10px;}
/* nasa */
.nasa{background:linear-gradient(to top, rgba(16,16,16,1) 40%, rgba(16,16,16,0) 90%),
        linear-gradient(to right, rgba(16,16,16,1) 10%, rgba(16,16,16,0) 40%),
        url("../img/work/nasa/nasa_thumb.png");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;}
.nasa .color li:nth-child(1){background-color:#db362d;}
.nasa .color li:nth-child(2){background-color:#ffffff;}
.nasa .color li:nth-child(3){background-color:#000000;}
.nasa .pc:hover img{margin-top:-702px;}
.nasa .tablet:hover img{margin-top:-269px;}
.nasa .mobile:hover img{margin-top:-388px;}
/* stanley */
.stanley{background:linear-gradient(to top, rgba(16,16,16,1) 40%, rgba(16,16,16,0) 90%),
        linear-gradient(to right, rgba(16,16,16,1) 10%, rgba(16,16,16,0) 40%),
        url("../img/work/stanley/stanley_bg.png");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;}
.stanley .color li:nth-child(1){background-color:#263935;}
.stanley .color li:nth-child(2){background-color:#85CDE3;}
.stanley .color li:nth-child(3){background-color:#ffffff;}
.stanley .pc:hover img{margin-top:-162px;}
.stanley .tablet:hover img{margin-top:-137px;}
.stanley .mobile:hover img{margin-top:-167px;}


/*---------- section:ing ----------*/
.ing{background-color:blue;}
